body {
  background: linear-gradient(0.25turn, #97e0ff, #ffffff, #fcb466);
  display: flex;
  flex-direction: column; 
}

/* STYLE DU TEXT */

header, footer {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

header {
  background-image: url("../images/pokemon\ game.png");
  height: 150px;
  width: 400px;
}

 footer {
  background-image: url("../images/choose\ your\ pokemon\ !.png");
  height: 110px;
  width: 350px;
}

/* STYLE DE LA GRILLE DE CHOIX */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* STYLE DES VIGNETTES DE CHOIX */

.pikachu, .carapuce, .salamêche, .bulbizarre {
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #000000;
  background-color: #ffffff;
  transition: transform .2s;
  
}
.pikachu{
  background-image: url("../images/pikachu.gif");
  background-size: contain;  
}

.carapuce {
  background-image: url("../images/carapuce.gif");
  background-size: 70%;  
}
.salamêche {
  background-image: url("../images/salameche\ 2.gif");
  background-size: cover;
}
.bulbizarre {
  background-image: url("../images/bulbizarre.gif");
  background-size: 90%;
}

/* ANIMATION DES VIGNETTES DE CHOIX */

.pikachu:hover, .carapuce:hover, .salamêche:hover, .bulbizarre:hover {
  transform: scale(1.2);
  border-radius: 50%;
}