body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.25turn, #fcb466, #ffffff, #97e0ff);

}

/* SECTION IMAGES/TRY AGAIN */

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* STYLE DU TEXTE DE HAUT DE PAGE*/

.titre {
  background-image: url("/images/pokemon_game.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  height: 150px;
  width: 400px;
}

/* STYLE DU LOGO DE DEFAITE */

.logo {
  height: 400px;
  width: 400px;;
  background-image: url("/images/defeat.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* STYLE DU TEXTE DE BAS DE PAGE*/

.text {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 40px;
text-shadow: 2px 1px 1px yellow;
background-color: white;
padding: 40px;
box-shadow: 3px 3px 3px #000000;

}
a {
text-decoration: none;
color: #002636; 
}

/* ANIMATION DU TEXTE DE BAD DE PAGE */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#fadeInRight {
  animation-name: fadeInRight;
  animation-duration: .2s;
}