
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#container {
  width: 100%;
  height: 1000px;
  border:1px black solid;
}

#console {
  width: 1110px;
  height: 600px;
  margin: 100px auto;
  margin-left: -555px;
  border-radius: 25%;
  border: 5px solid black;
  position: absolute;
}
#prod {
  position: absolute;
  color: white;
  margin-top: -27px;
  margin-left: 141px;
}



/* BOUTON COTE GAUCHE */



#btnon {
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: 150px;
  width: 150px;
  height: 150px;
  border-radius: 100% 10% 10% 10%;
  border: 5px solid black;
  position: relative;
  background-color: red;
  

}

#btnrandom {
  width: 150px;
  height: 100px;
  margin-left: 10px;
  border: 5px solid black;
  position: relative;
  border-radius: 10%;
  background-color: red;
  

}


#btnsound {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 10% 10% 10% 100%;
  border: 5px solid black;
  position: relative;
  background-color: red;

}

.btng p{
  text-align: center;
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}




/* BOUTON COTE DROIT */

#btnAttack {
  margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 770px;
  width: 150px;
  height: 150px;
  border-radius: 10% 100% 10% 10%;
  border: 5px solid black;
  position: absolute;
  background-color: red;
  

}

#btnHeal {
  width: 150px;
  height: 100px;
  position: absolute;
  float: right;
  margin-top: 350px;
  margin-left: 770px;
  /* margin-left: -10px; */
  border: 5px solid black;
  
  border-radius: 10%;
  background-color: red;
  

}


#btnRun {
  width: 150px;
  height: 150px;
  float: right;
  margin-top: 500px;
  margin-left: 770px;
  border-radius: 10% 10% 100% 10%;
  border: 5px solid black;
  position: absolute;
  background-color: red;

}

/* .btnd {
  margin-left: 200px;
} */

.btnd p{
  text-align: center;
  color: white;
  margin-left: -50px;
  margin-top: 50px;
}

/* EMPLACEMENT ECRAN */

#ecran {
  
  margin-top: 125px;
  height: 550px;
  border: 5px solid black;
  margin-left: 190px;
  position: absolute;
  background-image: url(../images/battle_scene.png);
  background-repeat: no-repeat;
  background-size: auto 550px;
}



#ecranoff {
 
width: 750px;
height: 545px;
left: 375px; 
margin-left:-375px;
border: 5px solid black;
position: absolute;
z-index: 4;

}





.opponent {
  
  float: right;
  position: relative;
  margin-top: 100px;
  width: 350px;
  height: 230px; 
  /* border: 1px solid black; */
  
 }

 #imgOpponent {
  display: block;
  bottom: 0px;
  position: absolute;
  margin-left: 200px;
  animation: 0.2s infinite;
  /* animation-name: opponent; */
} 



 @keyframes opponent { 
  0%   { z-index:-1; }
  100% { z-index:1; } 
  } 



.comment {
  float: left;
  position: absolute;
  z-index: 2;
  margin: 10px;
  width: 400px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7)
}

.comment-player {
  float: right;
  position: absolute;
  margin-left: 300px;
  margin-top: 450px;
  width: 400px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7)
}



.player {
  position: absolute;
  bottom: 0px;
  float: left;
  width: 400px;
  height: 250px;
  /* border: 1px solid black; */

 }

#imgPlayer {
  display: block;
  bottom: 10px;
  position: absolute;
  margin-left: 10px;
  /* width: 150px;
  height: 150px; */
  animation: 0.2s infinite;
  /* animation-name: player; */
} 

@keyframes player { 
  0%   { z-index:-1; }
  100% { z-index:1; } 
  } 


.player p {
  font-size: 20px;
  font-weight: bolder;
}

progress {
  display: inline;
  
}

#commentaire-player {
  color: blue;
  font-weight: bold;
  
}

#commentaire-adverse {
  color: red;
  font-weight: bold;
  
} 




